.heading {
    margin-top: 10px;
    font-size: 72px;
    font-weight: bold;
}
.nav-color {
    background-color: rgba(206,202,202,0.49);
    margin-bottom: 2%;
    height: 200px;
}
.container-fluid {
    display: flex;
    flex-direction: column;
}
.logout-heading {
    top: 10%;
    right: 15%;
}
.view-cart {
    top: 37%;
    right: 15%;
}
.add-product-link {
    top: 65%;
    right: 15%;
}
.text-heading {
    margin-left: 15%;
}

.text-color {
    color: white;
}
.description {
    width: 100%;
    height: 100px;
    line-height: 20px;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
    -ms-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}
.card-col {
    margin-bottom: 20px;
}

.container-margin {
    margin-bottom: 5%;
}

a {
    border-radius: 4px;
}
a:hover {
    opacity: 0.7;
}