<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Access Denied</title>
</head>

<body>

<h2>You cannot access this page!</h2>

<hr>

<a th:href="@{/}">Back To Home Page</a>


</body>

</html>