<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
<nav class="navbar navbar-light nav-color">
    <div class="container-fluid align-items-start">
        <form th:action="@{/logout}" method="POST" class="logout-heading position-absolute">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <div class="text-heading">
            <h1 class="heading">Cart</h1>
            <h5>All the selected products in your cart</h5>
        </div>
    </div>
</nav>


<div class="container container-margin">
    <div class="d-flex justify-content-between">
        <a class="btn btn-danger" th:href="@{/cart/removeAll}">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
            Clear Cart
        </a>
        <a class="btn btn-success" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Check out
        </a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" style="width: 40%;">Product</th>
            <th scope="col" style="width: 15%;">Quantity</th>
            <th scope="col" style="width: 15%;">Unit price</th>
            <th scope="col" style="width: 15%;">Price</th>
            <th scope="col" style="width: 15%;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="align-items-center" th:each="cartItem : ${cart.cartItems}">
            <th scope="row" class="text-start text-wrap" th:text="${cartItem.product.productName}"></th>
            <td class="text-start text-wrap" th:text="${cartItem.quantity}"></td>
            <td class="text-start text-wrap" th:text="${cartItem.product.unitPrice}"></td>
            <td class="text-start text-wrap" th:text="${cartItem.product.unitPrice * cartItem.quantity}"></td>
            <td class="text-start">
                <a class="btn btn-danger btn-sm" th:href="@{/cart/remove(cartItemId=${cartItem.id})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    Remove
                </a>
            </td>
        </tr>
        <tr>
            <th scope="col" style="width: 40%;"></th>
            <th scope="col" style="width: 15%;"></th>
            <th scope="col" style="width: 15%;">Grand Total</th>
            <th scope="col" style="width: 15%;" th:text="${cart.total}"></th>
            <th scope="col" style="width: 15%;"></th>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success" th:href="@{/}">
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-skip-backward-circle-fill" viewBox="0 0 21 21">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.79-2.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z"/>
        </svg>
        continue shopping
    </a>
</div>

</body>

</html>