<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<title>Login Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

	<div class="container container-margin border border-success" style="width: 25%; margin-top: 5%; padding: 20px;">

		<h3 class="text-success border-bottom border-1" style="width: 100%; padding-bottom: 7px">Please sign in</h3>

		<!-- Login Form -->
		<form th:action="@{/authenticateTheUser}" method="POST">

			<div class="form-group">
				<div class="col-xs-15">
					<div>

						<!-- Check for login error -->
						<div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
							Invalid username and password.
						</div>

						<!-- Check for logout -->
						<div th:if="${param.logout}"class="alert alert-success col-xs-offset-1 col-xs-10">
							You have been logged out.
						</div>

					</div>
				</div>
			</div>

			<!-- User name -->
			<div class="mb-3 row" style="margin-top: 7%;">
				<label for="username" class="col-sm-3 col-form-label fw-bold" >User name</label>
				<div class="col-sm-9">
					<input type="text" name="username" placeholder="username" class="form-control" id="username" >
				</div>

			</div>

			<!-- Password -->
			<div class="mb-3 row">
				<label for="password" class="col-sm-3 col-form-label fw-bold" >Password</label>
				<div class="col-sm-9">
					<input type="password" name="password" placeholder="password" id="password"  class="form-control" >
				</div>

			</div>


			<!-- Login/Submit Button -->
			<div class="mb-3 row">
				<label for="login" class="col-sm-3 col-form-label fw-bold"></label>
				<div class="col-sm-9">
					<button type="submit" id="login" class="btn btn-success col-12">Login</button>
				</div>
			</div>

		</form>
		<hr>
		<div style="margin-top: 10px;">
			<p>Don't have an account?</p>
		</div>
		<div>
			<a th:href="@{/register/showRegistrationForm}" class="btn btn-secondary" role="button" aria-pressed="true">Register New User</a>
		</div>
	</div>

</body>
</html>