<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

    <title>Mobile Store</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>
<nav class="navbar navbar-light nav-color">
    <div class="container-fluid align-items-start">
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST" class="logout-heading position-absolute">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <a th:href="@{/cart/view}" class="view-cart position-absolute btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            view cart
        </a>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="add-product-link position-absolute">
            <a th:href="@{/admin/addProduct}" class="btn btn-light">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                    <path d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
                Add products
            </a>
        </div>
        <div class="text-heading">
            <h1 class="heading">Products</h1>
            <h5>All the available products in our store</h5>
        </div>
    </div>
</nav>


<div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            <div class="card col card-col" th:each="pro : ${products}">
                <div class="card-body">
                    <h3 class="card-title" th:text="${pro.productName}">aaa</h3>
                    <img src="" th:src="@{'/product-images/'+${pro.id}+'/'+${pro.image}}" th:if="${pro.image != null}" class="img-thumbnail" alt="img-thumbnail"/>
                    <p class="description card-text fw-normal" th:text="${pro.description}">
                    </p>
                    <p class="card-text"><span  th:text="${pro.unitPrice}"></span> USD</p>
                    <p class="card-text"><span  th:text="${pro.unitsInStock}"></span> units in stock</p>
                    <a th:href="@{/product/detail(productId=${pro.id})}" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
                        </svg>
                        Details
                    </a>
                    <a th:href="@{/cart/addProductToCart(productId=${pro.id})}" class="btn btn-warning text-color"  style="color: white;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        Order Now
                    </a>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">

                <!-- Previous page logic -->
                <li class="page-item" th:if="${currentPage > 1}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=(${currentPage - 1}))}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item disabled" th:unless="${currentPage > 1}">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>

                <li class="page-item disabled" th:if="${currentPage > 2 && totalPages > 3}">
                    <a class="page-link" href="#">...</a>
                </li>

                <!-- first 1 or 2 or 3 page -->

                <li class="page-item active" aria-current="page" th:if="${currentPage == 1}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=1)}">1</a>
                </li>
                <li class="page-item" th:if="${currentPage == 2 || (currentPage == 3 && totalPages == 3)}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=1)}">1</a>
                </li>
                <li class="page-item" th:if="${currentPage == 1 || (currentPage == 3 && totalPages == 3)}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=2)}">2</a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${currentPage == 2}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=2)}">2</a>
                </li>
                <li class="page-item" th:if="${currentPage == 1 || currentPage == 2 && totalPages > 2}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=3)}">3</a>
                </li>
                <li class="page-item active" th:if="${ currentPage == 3 && totalPages == 3}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=3)}">3</a>
                </li>

                <!-- 3 page Previous, Current, Next Page-->
                <li class="page-item" th:if="${currentPage > 2 && totalPages > 3 && currentPage <= totalPages - 2}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=${currentPage - 1})}" th:text="${currentPage - 1}"></a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${currentPage > 2 && currentPage < totalPages - 1 && totalPages > 3}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=${currentPage})}" th:text="${currentPage}"></a>
                </li>
                <li class="page-item" th:if="${currentPage > 2 && currentPage < totalPages - 1}">
                    <a class="page-link"th:href="@{/product/list/page(pageNum=${currentPage + 1})}" th:text="${currentPage + 1}"></a>
                </li>

                <!-- last 3 page -->
                <li class="page-item" th:if="${currentPage == totalPages && currentPage != 2 && currentPage != 1 && totalPages > 3}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=${totalPages - 2})}" th:text="${totalPages - 2}"> </a>
                </li>
                <li class="page-item" th:if="${currentPage == (totalPages - 1) && currentPage != 2 && currentPage != 1 && totalPages > 3}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=${totalPages - 2})}" th:text="${totalPages - 2}"> </a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${currentPage == (totalPages - 1) && currentPage != 2 && totalPages > 3}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=${totalPages - 1})}" th:text="${totalPages - 1}"></a>
                </li>
                <li class="page-item"  th:if="${currentPage == totalPages && currentPage != 2 && totalPages > 3}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=${totalPages - 1})}" th:text="${totalPages - 1}"></a>
                </li>
                <li class="page-item active" aria-current="page" th:if="${currentPage == totalPages && currentPage != 2 && currentPage != 1 && totalPages > 3}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=${totalPages})}" th:text="${totalPages}"></a>
                </li>
                <li class="page-item" th:if="${currentPage == (totalPages - 1) && currentPage != 2 && currentPage != 1}">
                    <a class="page-link" th:href="@{/product/list/page(pageNum=${totalPages})}" th:text="${totalPages}"></a>
                </li>




                <li class="page-item disabled" th:if="${ (totalPages - currentPage >= 3) || (totalPages - currentPage >= 2 && currentPage != 2)}">
                    <a class="page-link" href="#">...</a>
                </li>

                <li class="page-item" th:if="${currentPage < totalPages}" >
                    <a class="page-link" href="#" th:href="@{/product/list/page(pageNum=${currentPage + 1})}">Next</a>
                </li>
                <li class="page-item disabled" th:unless="${currentPage < totalPages}" >
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
</div>

</body>

</html>