<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Add product</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>
<nav class="navbar navbar-light nav-color">
    <div class="container-fluid align-items-start">

        <a class="view-cart position-absolute btn btn-success" th:href="@{/}">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-skip-backward-circle-fill" viewBox="0 0 21 21">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.79-2.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z"/>
            </svg>
            Back
        </a>
        <form th:action="@{/logout}" method="POST" class="logout-heading position-absolute">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
        <div class="text-heading">
            <h1 class="heading">Products</h1>
            <h3>Add products</h3>
        </div>
    </div>
</nav>

<div class="container container-margin">
    <h3>Add new product</h3>
    <hr>
    <form action="#" th:action="@{/admin/save}"
          th:object="${product}" method="post" enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}" />

        <div class="mb-3 row">
            <label for="productName" class="col-sm-2 col-form-label fw-bold" >Product Name</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{productName}" class="form-control" id="productName" >
            </div>

        </div>
        <div class="mb-3 row">
            <label for="productName" class="col-sm-2 col-form-label fw-bold" ></label>
            <div class="col-sm-10">
                <div th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="alert alert-danger col-xs-offset-1 col-xs-10"></div>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="unitPrice" class="col-sm-2 col-form-label fw-bold">Unit Price</label>
            <div class="col-sm-10">
                <input type="number" th:field="*{unitPrice}" class="form-control" id="unitPrice" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="unitPrice" class="col-sm-2 col-form-label fw-bold"></label>
            <div class="col-sm-10">
                <span th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}" class="alert alert-danger col-xs-offset-1 col-xs-10"></span>
            </div>

        </div>

        <div class="mb-3 row">
            <label for="unitsInStock" class="col-sm-2 col-form-label fw-bold">Units In Stock</label>
            <div class="col-sm-10">
                <input type="number" th:field="*{unitsInStock}" class="form-control" id="unitsInStock" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="unitsInStock" class="col-sm-2 col-form-label fw-bold"></label>
            <div class="col-sm-10">
                <span th:if="${#fields.hasErrors('unitsInStock')}" th:errors="*{unitsInStock}" class="alert alert-danger col-xs-offset-1 col-xs-10"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="description" class="col-sm-2 col-form-label fw-bold">Description</label>
            <div class="col-sm-10">
                <textarea th:field="*{description}" class="form-control" id="description" rows="2" ></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="description" class="col-sm-2 col-form-label fw-bold"></label>
            <div class="col-sm-10">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger col-xs-offset-1 col-xs-10"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="manufacturer" class="col-sm-2 col-form-label fw-bold">Manufacturer</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{manufacturer}" class="form-control" id="manufacturer" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="manufacturer" class="col-sm-2 col-form-label fw-bold"></label>
            <div class="col-sm-10">
                <span th:if="${#fields.hasErrors('manufacturer')}" th:errors="*{manufacturer}" class="alert alert-danger col-xs-offset-1 col-xs-10"></span>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="category" class="col-sm-2 col-form-label fw-bold">Category</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{category}" class="form-control" id="category" >
            </div>
        </div>
        <div class="mb-3 row">
            <label for="category" class="col-sm-2 col-form-label fw-bold"></label>
            <div class="col-sm-10">
                <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="alert alert-danger col-xs-offset-1 col-xs-10"></span>
            </div>
        </div>

        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0 fw-bold">Condition</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input th:field="*{condition}" class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="New" checked="">
                    <label class="form-check-label" for="gridRadios1">
                        New
                    </label>
                </div>
                <div class="form-check">
                    <input th:field="*{condition}" class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="Old">
                    <label class="form-check-label" for="gridRadios2">
                        Old
                    </label>
                </div>
                <div class="form-check disabled">
                    <input th:field="*{condition}" class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="Refurbished">
                    <label class="form-check-label" for="gridRadios3">
                        Refurbished
                    </label>
                </div>
            </div>
        </fieldset>

        <div class="mb-3 row">
            <label for="fileImage" class="col-sm-2 col-form-label fw-bold">Product Image File</label>
            <div class="col-sm-10">
                <input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="add" class="col-sm-2 col-form-label fw-bold"></label>
            <div class="col-sm-10">
                <button type="submit" id="add" class="btn btn-success col-2">Add Product</button>
            </div>
        </div>
    </form>
</div>


<script>


</script>
</body>
</html>